.iphone {
  font-size: 50px;
  margin-bottom: -20px;
}
.playstation {
  font-size: 10px;
  margin-bottom: -20px;
}
.samsung {
  font-size: 69;
  margin-bottom: -10px;
}
.ok {
  margin-top: -210px;
  margin-bottom: -100px;
  font-size: 420px;
}
